{% extends 'layout.html' %}

{% block modals %}
    <div class="modal fade" id="add-exercise" tabindex="-1" role="dialog" aria-labelledby="add-exercise-title" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Log new exercise</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
body
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="goal-buttons">Log exercise</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="jumbotron jum-container" id="exercise-jum">
    <div class="row mt-2">
        <h1>Exercises</h1>
    </div>
    <div class="row">
        <div class="col-4" id="exercise-list-box">
            <h4 id="feed-title">Exercise Feed</h4>
            <div class="list-group" id="feed-list">
                {% for exercise in exercise_list %}
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ exercise.exercise_name }}</h5>
                            <small>{{ exercise.date_time_added.date }}</small>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <a class="btn btn-outline-primary" role="button" id="log-exercise-button" data-toggle="modal" data-target="#add-exercise">Log Exercise</a>
            <canvas class="exercise-month-graph" id="chLine"></canvas>
            <div class="col exercise-info">
                <p>Name: ____________</p>
                <p>Exercise: __________</p>
            </div>
            <div class="col exercise-info" id="duration-distance-col">
                <p>Duration: __________</p>
                <p>Distance: __________</p>
            </div>
        </div>
    </div>
</div>

<script>
    if(!$('#feed-list').contents().length <= 1){
        listItem = document.createElement('li');
        listItem.classList.add('list-group-item');
        listItem.innerHTML = 'Log an exercise and it will show up on this list';
        document.getElementById('feed-list').appendChild(listItem);
    }
</script>

<script>

/* large line chart */
var chLine = document.getElementById("chLine");
var chartData = {
  labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
  datasets: [{
    data: [589, 445, 483, 503, 689, 692, 123, 445, 483, 503, 689, 692, 634, 756, 483, 503, 689, 345, 234, 445, 483, 543, 689, 692, 555, 445, 483, 503, 793, 692, 344],
    backgroundColor: 'transparent',
    borderColor: '#274c77',
    borderWidth: 4,
    pointBackgroundColor: '#274c77'
  }]
};

if (chLine) {
  new Chart(chLine, {
  type: 'line',
  data: chartData,
  options: {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: false
        }
      }]
    },
    legend: {
      display: false
    }
  }
  });
}
</script>
{% endblock %}