<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <title>Toonk Fitness</title>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body>
<div class="background-container">
    <div class="container-bg" id="static-background-image"></div>
    <div class="container content">
        <div class="jumbotron jum-container">
            <h2 class="display-4">Create new account</h2>

            <hr class="my-4">
            <div class="card-body">
                <form class="uniForm" method="post">
                    {% crispy user_form %}
                    {% crispy profile_form %}
                </form>
            </div>
            {% if register_error != False %}
                <div class="alert alert-danger login-error" role="alert">
                    An error has occurred, please try again
                </div>
            {%  endif %}
            <div class="card-footer login-footer" >
                <div class="d-flex justify-content-center links">
                    Already have an account?&nbsp;<a href="log-in-user"> Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!-- Demo scripts for this page-->
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>

<script src="{% static "js/backgroundScroller.js" %}"></script>
</body>
</html>